
body{
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    background-attachment: fixed;
}
.list-group-item{
    margin-bottom: 60%;
    cursor:pointer;
}
.list-group-item:hover{
    color:red;
}
.list-group-item:active{
    color:red;
    font-weight:bold;
}
.list-group{
    height: 80vh;
    margin-top: 5%;
}
.buttons{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;

}
.btn{
    width: 100%;
    margin: 2%;
    margin-bottom: 0%;

}
th{
    font-weight: 500;
}
.popupdiv{
    height: auto;
    width: auto;
}